div#name{
  background-color: white;
  margin-bottom: 1px;
}
div#contact{
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 30px;
  font-size: 14px;
  margin-bottom: 1px;
}

input{
	font-size: 38px;
	font-family: garamond;
	font-weight: 700;

}

@media screen and (max-width: 650px){
  input{
		width: 90%;
		font-size: 28px;
	}
	div#contact{
		padding-top: 10px;
		text-align: left;
	}

}