.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


div#wrap-content{
  width: 35%;
  min-width: 650px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 60px;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
  background-color: white;
}

div#top-wrapper{
  display:grid;
  grid-template-columns: 2fr 1fr;
  align-content: center;
}

h1{
  font-family: garamond;
  font-size: 38px;
  color: #333333;

}
h2{
  font-size: 28px;
  color: #333333;
}

.display-none{
  display:none;
}